# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
.venv/
venv/
ENV/
env/

# Environment Variables
.env
.venv
.secrets.toml

# Streamlit
.streamlit/

# Project-specific Documentation/Unwanted
Deploy*Streamlit.html
Deploy*Streamlit_files/
Nexusproject*.docx

# OS files
Thumbs.db
db/
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
*.swo
